@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.todo {
  @extend %colums;
  background-color: #fff;
  width: grid-width(9, true);
  position: relative;
  margin: auto;
  

  &--label {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }


  &--border {
    position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 0.15s ease;
  }
  & input {
    -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;

    &:hover {
      background: rgba(34, 50, 84, 0.03);
    }

    &:not(:placeholder-shown) + span {
      -webkit-transform: translateY(-26px) scale(0.75);
              transform: translateY(-26px) scale(0.75);
    }

    &:focus {
      background: none;
      outline: none;
    }

    &:focus + span {
      -webkit-transform: translateY(-26px) scale(0.75);
              transform: translateY(-26px) scale(0.75);
    }

    &:focus + span + .todo--border {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
      
  }
  
}