@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';


.hello-word-wrapper {
  @extend %colums;
  @extend %herocard;
  background-color: #fff;
  width: grid-width(12, true);
  text-align: center;
}
