@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';


.todo-list {
  @extend %colums;
  @extend %herocard;
  background-color: #fff;
  width: grid-width(12, true);
  text-align: center;
 
 &__item {
  @extend %colums;
  @extend %herocard;
  background-color: #fff;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  text-align: left;
  width: grid-width(12, true);

  &:nth-child(even) {
    background: #fff
  }

  &:nth-child(odd) {
    background: #f1f1f1
  }

}
}
