@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';



.wrapper-title-react-ui {
  @extend %herocard;

}

.list-item{
  @extend %colums;
  width: grid-width(12, true);
  border-bottom: solid 1px #ccc;
  margin-top: 5px;
  padding-bottom: 15px;

  &:hover{
    background: #f4f8fb;
  }

  &--id {
    font-weight: bold;
    @extend %colums;
    width: grid-width(1, true);
  }

  &--checkbox {
    font-weight: bold;
    @extend %colums;
    width: grid-width(1, true);
  }

  &--name {
    @extend %colums;
    width: grid-width(8, true);
    padding-top: 10px;
    text-align: left;
    box-sizing: border-box;
    font-weight: 500;
    color: #333;
  }
  &--status {
    @extend %colums;
    width: grid-width(1, true);
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    & img {
      width: 60%;
      text-align: center;
    }
  }
  &--delate{
    margin-top: 20px;
    @extend %colums;
    width: grid-width(1, true);
  }
  &--font-caption {
    font-size: map-get($font-size, Caption);
  }

  &--font-kappa {
    font-size: map-get($font-size, Kappa);
  }
  &--font-omega {
    font-size: map-get($font-size, Omega);
  }

  &--font-zeta {
    font-size: map-get($font-size, Zeta);
  }


  &--font-epsilon {
    font-size: map-get($font-size, Epsilon);
  }

  &--font-delta {
    font-size: map-get($font-size, Delta);
  }

  &--font-gamma {
    font-size: map-get($font-size, Gamma);
  }

  &--font-beta {
    font-size: map-get($font-size, Beta);
  }

  &--font-alpha {
    font-size: map-get($font-size, Alpha);
  }

  &--font-mega {
    font-size: map-get($font-size, Mega);
  }

  &--font-giga {
    font-size: map-get($font-size, Giga);
  }

  &--normal {
    font-weight: normal;
  }

  &--bold {
    font-weight: bold;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--done-true {
    border-left: solid 5px #40e0d0;
    text-decoration: line-through;
    background: #f4f8fb;
  }
  &--done-false {
    border-left: solid 5px #e2ca09;
  }

  &--done-text-true {
    text-decoration: line-through;
    
  }
  &--done-text-false{
    text-decoration: unset;
  }
}

