@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.mybutton {
  margin: 0 auto;

  &--pill {
    @include button(pill);
  }

  &--pill-outline {
    @include button(pill-outline);
  }

  &--pill-disable {
    @include button(pill-disable);
  }

  &--pill-width {
    @include button(pill-width);
  }

  &--pill-outline-width {
    @include button(pill-outline-width);
  }

  &--minimize {
    @include button(minimize);
  }

  &--send {
    @include button(send);
  }

  &--toggle-right {
    @include button(toggle-right);
  }

  &--toggle-top {
    @include button(toggle-top);
  }

  &--add-tocard {
    @include button(add-tocard);
  }
}

// sass-lint:disable-block class-name-format
