.close {
  width: 25px;
  height: 25px;
  float: left;
  background-image: url("../../assets/images/close.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 100%;
  display: block;

  &:hover {
    background-image: url("../../assets/images/closeBlack.png");
  }
}