@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';



.wrapper-title-react-ui {
  @extend %herocard;
}

.title {
  width: auto;
  
  &--font-caption {
    font-size: map-get($font-size, Caption);
  }

  &--font-kappa {
    font-size: map-get($font-size, Kappa);
  }
  &--font-omega {
    font-size: map-get($font-size, Omega);
  }

  &--font-zeta {
    font-size: map-get($font-size, Zeta);
  }


  &--font-epsilon {
    font-size: map-get($font-size, Epsilon);
  }

  &--font-delta {
    font-size: map-get($font-size, Delta);
  }

  &--font-gamma {
    font-size: map-get($font-size, Gamma);
  }

  &--font-beta {
    font-size: map-get($font-size, Beta);
  }

  &--font-alpha {
    font-size: map-get($font-size, Alpha);
  }

  &--font-mega {
    font-size: map-get($font-size, Mega);
  }

  &--font-giga {
    font-size: map-get($font-size, Giga);
  }

  &--normal {
    font-weight: normal;
  }

  &--bold {
    font-weight: bold;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }
}

