@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';

.radio {
width: 150px;
float: left;
& label {
  display: block;
  cursor: pointer;
    line-height: 2.5;
    font-size: 1em;
}

& [type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

& [type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */

& [type="radio"] + span:before {
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #ccc;
  content: '';
  display: inline-block;
  height: 1em;
  margin-right: 0.75em;
  transition: 0.5s ease all;
  vertical-align: -0.25em;
  width: 1em;
}

/* the checked style using the :checked pseudo class */
& [type="radio"]:checked + span:before {
  background: color-blue(neutral);
  box-shadow: 0 0 0 0.25em #ccc;
}

/* never forget focus styling */
& [type="radio"]:focus + span:after {
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

& [disabled] + span:before {
  background-color: #ccc;
}

& input:disabled + span {
  color: #ccc;
}

}
