@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/animations';
@import '../../scss/mixins';
@import '../../scss/typography';
@import '../../scss/layout';


.counter-wrapper {
  @extend %colums;
  @extend %herocard;
  background-color: #fff;
  width: grid-width(6, true);
  text-align: center;
  
 
}
