@import './scss/variables';
@import './scss/colors';
@import './scss/functions';
@import './scss/mixins';
@import './scss/typography';
@import './scss/animations';
@import './scss/layout';

body {
  background:#f4f8fb;
}

.main-wrapper-app {
  width: 1024px;
  height: auto;
  margin: auto;
  &--row {
    @extend %herocard;
    @extend %colums;
    width: grid-width(12, true);
  }
  &--row-center {
    @extend %centerdiv;
    @extend %colums;
    width: grid-width(12, true);
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
  }

}



