@function color-blue($key) {
  @if map-has-key($color-primary02, $key) {
    @return map-get($color-primary02, $key);
  }
}

@function color-red($key) {
  @if map-has-key($color-primary01, $key) {
    @return map-get($color-primary01, $key);
  }
}

@function color-black($key) {
  @if map-has-key($color-primary03, $key) {
    @return map-get($color-primary03, $key);
  }
}


@function color-green($key) {
  @if map-has-key($color-secundary01, $key) {
    @return map-get($color-secundary01, $key);
  }
}

@function color-yellow($key) {
  @if map-has-key($color-secundary02, $key) {
    @return map-get($color-secundary02, $key);
  }
}

@function color-orange($key) {
  @if map-has-key($color-secundary03, $key) {
    @return map-get($color-secundary03, $key);
  }
}

@function color-purple($key) {
  @if map-has-key($color-secundary04, $key) {
    @return map-get($color-secundary04, $key);
  }
}

@function color-cian($key) {
  @if map-has-key($color-secundary05, $key) {
    @return map-get($color-secundary05, $key);
  }
}


@function grid-width($cols, $has-gutter: false) {

  @if $has-gutter {
    @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});
  }
  @else {
    @return calc((100% / #{$columns}) * #{$cols});
  }
}


