// Grid Layout

//  En esta sección encontraras los estilos clasicos de boton en el chatbot
//  tambien sus principales modificadors <img src="images/hsjkghkdjg.jpg />

// ## Sub-heading

//   * apples
//   * oranges
//   * pears


//  Markup: 
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col2">2</div>
// <div class="grid--chat-col2">2</div>
// <div class="grid--chat-col2">2</div>
// <div class="grid--chat-col2">2</div>
// <div class="grid--chat-col2">2</div>
// <div class="grid--chat-col2">2</div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col6"></div>
// <div class="grid--chat-col2"></div>
// <div class="grid--chat-col2"></div>
// <div class="grid--chat-col2"></div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col12"></div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col6"></div>
// <div class="grid--chat-col6"></div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col10">10</div>
// <div class="grid--chat-col2">2</div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col7">7</div>
// <div class="grid--chat-col5">5</div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col4">4</div>
// <div class="grid--chat-col8">8</div>
// </div>
// <div class="pannel-bot--gray" style="margin:5px;">
// <div class="grid--chat-col9">9</div>
// <div class="grid--chat-col3">3</div>
// </div>
// <div class="message-wrapper" style="margin:20px; float:left">
// <div class="message-wrapper--bot">
// <div style="height: 200px; width: 370px; float: left">
// <div class="grid--chat-col9">9</div>
// <div class="grid--chat-col3">3</div>
// </div>
// </div>
// </div>
// <div class="message-wrapper" style="margin:20px; float:left">
// <div class="message-wrapper--user">
// <div style="height: 200px; width: 370px; float: left">
// <div class="grid--chat-col3">3</div>
// <div class="grid--chat-col9">9</div>
// </div>
// </div>
// </div>


// ----------------

//  Styleguide 1.2




%grid {
  float: left;
  height: 100%;
  margin: $gutter / 2 $gutter/2;
}

%colums {
  float: left;
  height: auto;
  margin: $gutter / 2 $gutter/2;
}
%centerdiv {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

%herocard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  float: left;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
} 



.grid {

  &--react-ui-col1 {
    @extend %grid;
    width: grid-width(1, true); //4 filas
  }

  &--react-ui-col2 {
    @extend %grid;
    width: grid-width(2, true); //4 filas
  }

  &--react-ui-col3 {
    @extend %grid;
    width: grid-width(3, true); //4 filas
  }

  &--react-ui-col4 {
    @extend %grid;
    width: grid-width(4, true); //3 filas
  }

  &--react-ui-col5 {
    @extend %grid;
    width: grid-width(5, true); //3 filas
  }

  &--react-ui-col6 {
    @extend %grid;
    width: grid-width(6, true); //2 bloques
  }

  &--react-ui-col7 {
    @extend %grid;
    width: grid-width(7, true); //2 bloques
  }

  &--react-ui-col8 {
    @extend %grid;
    width: grid-width(8, true); //2 bloques
  }

  &--react-ui-col9 {
    @extend %grid;
    width: grid-width(9, true); //2 bloques
  }

  &--react-ui-col10 {
    @extend %grid;
    width: grid-width(10, true); //2 bloques
  }

  &--react-ui-col11 {
    @extend %grid;
    width: grid-width(11, true); //2 bloques
  }

  &--react-ui-col12 {
    @extend %grid;
    width: grid-width(12, true); //1bloque
  }
}
