@mixin box-size($height,  $width) {
  height: $height;
  width: $width;
}

@mixin button($type) {
  // sass-lint:disable-block no-misspelled-properties
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: $font-stack;
  font-size: $base-fontsize;
  margin: 0 10px;
  outline: unset;
  padding: 10px 15px;
  text-align: center;

  &:hover {
    transition:  .3s ease;
  }

  & svg {
    fill: #fff;
  }

  @if $type == 'pill' {
    background: color-blue(neutral) !important;
    border: 2px solid color-blue(neutral) !important;
    border-radius: map-get($border-radius, m);
    color:  #fff !important;

    &:hover {
      background: color-blue(neutral) !important;
      border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      border: 2px solid color-blue(active) !important;
    }
   }

  @if $type == 'pill-width' {
    background: color-blue(neutral) !important;
    border: 2px solid color-blue(neutral) !important;
    border-radius: map-get($border-radius, m);
    color:  #fff !important;
    width: 100%;

    &:hover {
      background: color-blue(neutral) !important;
      border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      border: 2px solid color-blue(active) !important;
    }
   }

  @if $type == 'pill-outline' {
    background: #fff;
    border: 2px solid color-blue(neutral);
    border-radius: map-get($border-radius, m);
    color:  color-blue(neutral);

    &:hover {
      background: color-blue(neutral) !important;
      // border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      // border: 2px solid color-blue(active) !important;
    }
   }

  @if $type == 'pill-disable' {
    background: color-black(repose02);
    border: 0;
    border-radius: map-get($border-radius, m);
    color:  color-black(repose);

   }

  @if $type == 'pill-outline-width' {
    background: #fff;
    border: 2px solid color-blue(neutral);
    border-radius: map-get($border-radius, m);
    color:  color-blue(neutral);
    width: 100%;

    &:hover {
      background: color-blue(neutral) !important;
      // border: 2px solid color-blue(neutral) !important;
      color: #fff !important;
    }

    &:active {
      background: color-blue(active) !important;
      // border: 2px solid color-blue(active) !important;
    }
   }
  @if $type == 'add-tocard' {
    background: color-red(neutral);
    border: 2px solid color-red(neutral);
    color:  #fff;
    height: 40px;
    max-width: 140px;
    width: 100%;

    &:hover {
      background: color-red(neutral);
      border: 2px solid color-red(neutral);
      color: #fff !important;
    }

    &:active {
      background: color-red(active);
      border: 2px solid color-red(active);
    }
   }

  @if $type == 'minimize' {
    background: color-blue(neutral);
    background-image: url('https://soclpedrowidgetprd.azurewebsites.net/a/chatbot/icon/ico-close.svg');
    background-position: 7px 3px;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 0;
    color:  color-blue(neutral);
    float: left;
    height: 30px;
    margin-top: 10px;
    //position: absolute;
    // right: 0;
    //top: 10px;
    width: 30px;

    & span {
      display: none;
    }


    &:hover {
      background: color-blue(active);
      background-image: url('https://soclpedrowidgetprd.azurewebsites.net/a/chatbot/icon/ico-close.svg');
      background-position: 7px 3px;
      background-repeat: no-repeat;
      background-size: 50%;
    }

   }
  @if $type == 'send' {
    background: color-blue(neutral);
    background-image: url('/assets/images/icon-send.png');
    background-position: 13px;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 0;
    border-radius: map-get($border-radius, full);
    box-shadow: none;
    color:  #fff;
    fill: #fff;
    height: 40px;
    margin-top: 6px;
    padding: 6px 8px;
    transform: rotate(-19deg);
    width: 40px;

    &:hover {
      background: color-blue(active);
      //background-image: url('/assets/images/icon-send.png');
      background-position: 13px;
      background-repeat: no-repeat;
      background-size: 50%;
      color: #fff;
    }

    &:active {
      background: color-blue(active) ;
      // background-image: url('/assets/images/icon-send.png');
      background-position: 13px;
      background-repeat: no-repeat;
      background-size: 50%;
    }

    &svg {
      display: none;
    }
   }

}

@mixin bg-image($image) {
  //background-attachment: fixed;
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

}


@mixin bubble ($type) {

  box-shadow: map-get($shadows, m);
  color: #333;
  font-size: 12px;
  min-height: 40px;
  overflow: unset !important;
  padding: 0 0 15px;
  position: relative;
  width: auto;

  & p {
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
  }
  @if $type == 'user' {
    background: color-blue(repose02);
    border-radius: map-get($border-radius, none);
    margin: 5px 10px 10px 30px;
   }
  @if $type == 'bot' {
    background: #fff;
    border-radius: map-get($border-radius, none);
    margin: 5px 30px 10px 10px;

   }

}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  // sass-lint:disable-block no-misspelled-properties
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  -webkit-animation: #{$str};
  animation: #{$str};

}

@mixin pannel-message($type) {
  box-sizing: border-box;
  float: left;
  height: 91%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  width: 100%;

  @media screen and (max-width: 600px) {
    height: 91%;
    max-width: unset;
    width: 100%;
  }

  @if $type == 'gray-background' {
    background-color: #f5f5f5;
   }

  @if $type == 'pattern-category' {
    background: url('https://www.sodimac.cl/static/site/app/chatbot/images/pattern2.jpg');
    background-size: 140px;
   }

}

@mixin send-box {
  //border-radius: 15px;
  background: #fff;
  box-shadow: -1px 2px 7px 0 rgba(0, 0, 0, .2);
  height: 50px;
  position: relative;
  width: 100%;
  z-index: map-get($zindex, forward);
}
