

// tipography

// Font size seeds tipography


// <p class="chat-font--caption"> <strong> --Caption/12px </strong> 
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac. Trabajo con Inteligencia Artificial .</p>

// <p  class="chat-font--kappa"><strong> --Kappa/14px</strong> 
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac.Trabajo con Inteligencia Artificial </p>

// <p  class="chat-font--omega"> <strong> --Omega/17px</strong>
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac. Trabajo con Inteligencia Artificial </p>

// <p  class="chat-font--zeta"><strong>--Zeta/20px</strong>
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac. Trabajo con Inteligencia Artificial  </p>

// <p  class="chat-font--epsilon"><strong> --Epsilon/20px</strong>
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac. Trabajo con Inteligencia Artificial </p>

// <p  class="chat-font--delta"><strong> --Delta/29px</strong>
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac. Trabajo con Inteligencia Artificial </p>

// <p  class="chat-font--gamma"><strong> --Gamma/35px</strong>
// ¡Hola! Soy Pedro, el asistente virtual de Sodimac. Trabajo ... </p>

// <p  class="chat-font--beta"><strong> --Beta/42px</strong>¡Hola! Soy Pedro, el asistente virtual...</p>

// <p  class="chat-font--alpha"><strong>--Alpha/50px</strong>¡Hola! Soy Pedro, el asistente ...</p>

// <p  class="chat-font--mega"><strong> --Mega/60px</strong>¡Hola! Soy Pedro ...</p>

// <p  class="chat-font--giga"><strong> --Giga/72px</strong>¡Hola! Soy Pedro ...</p>

//  Styleguide 1.3



%chat-font {
  font-family: sans-serif;
  font-weight: normal;
}

.chat-font {
  @extend %chat-font;

  &--giga {
    @extend %chat-font;
    font-size: map-get($font-size, Giga);
    line-height: 80px;

  };

  &--mega {
    @extend %chat-font;
    font-size: map-get($font-size, Mega);
    line-height: 65px;
  };

  &--alpha {
    @extend %chat-font;
    font-size: map-get($font-size, Alpha);
    line-height: 60px;
  };

  &--beta {
    @extend %chat-font;
    font-size: map-get($font-size, Beta);
    line-height: 50px;
  };

  &--gamma {
    @extend %chat-font;
    font-size: map-get($font-size, Gamma);
    line-height: 45px;
  };

  &--delta {
    @extend %chat-font;
    font-size: map-get($font-size, Delta);
    line-height: 36px;
    };

  &--epsilon {
    @extend %chat-font;
    font-size: map-get($font-size, Epsilon);
    line-height: 30px;
  };

  &--zeta {
    @extend %chat-font;
    font-size: map-get($font-size, Zeta);
    line-height: 26px;
  };

  &--omega {
    @extend %chat-font;
    font-size: map-get($font-size, Omega);
    line-height: 22x;
  };

  &--kappa {
    @extend %chat-font;
    font-size: map-get($font-size, Kappa);
    line-height: 20px;
  };

  &--caption {
    @extend %chat-font;
    font-size: map-get($font-size, Caption);
    line-height: 18px;
  };

}





