@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');

$columns: 12;
$gutter: 20px;

$brand-color-01: #3f72ce;
$brand-color-02: #de2b22 ;
$brand-color-03: #f5d630;

$colors-brand: (
  black:#000000,
  blue:  #3f72ce,
  red: #de2b22,
  white:  #fff,
  yellow: #f5d630,
);

//Red
$color-primary01: (
  active:  #a5173c,
  neutral: #dd0021,
  repose: #e9756f,
  repose01: #f09f9b,
  repose02: #f7cac8,
  disable: #fdf4f4
);

//Blue
$color-primary02: (
  active:  #0c4dc2,
  neutral: #0072ce,
  repose: #82a3df,
  repose01: #a8c0e9,
  repose02: #cfdcf3,
  disable: #f5f8fd
);

//Black
$color-primary03: (
  active:  #000,
  neutral: #333,
  repose: #595959,
  repose01: #bfbfbf,
  repose02: #b1b3af,
  disable: #f5f5f5
);

//Green
$color-secundary01: (
  active:  #5e9e66,
  neutral: #5ec566,
  repose: #96d99b,
  repose01: #b6e5ba,
  repose02: #d7f0d9,
  disable: #f7fcf7
);

//Yellow
$color-secundary02: (
  active:  #efae30,
  neutral: #fbd600,
  repose: #f8f478,
  repose01: #faeca2,
  repose02: #fcf5cb,
  disable: #fefdf4
);

//Orange
$color-secundary03: (
  active:  #e56a17,
  neutral: #f29315,
  repose: #f7b967,
  repose01: #f9ce95,
  repose02: #fce4c4,
  disable: #fef9f3
);

//Purple
$color-secundary04: (
  active:  #b50093,
  neutral: #ef00b8,
  repose: #f559d1,
  repose01: #f88cdf,
  repose02: #fbbfed,
  disable: #fef2fb
);

//Cian
$color-secundary05: (
  active:  #00dbd5,
  neutral: #0ff,
  repose: #59ffff,
  repose01: #8cffff,
  repose02: #bfffff,
  disable: #f2ffff
);

$font-size: (
  Caption: 12px,
  Kappa: 14px,
  Omega: 17px,
  Zeta: 20px,
  Epsilon: 24px,
  Delta: 29px,
  Gamma: 35px,
  Beta: 42px,
  Alpha: 50px,
  Mega: 60px,
  Giga: 72px
);

$font-stack: 'Lato', sans-serif;
$font-color-dark: #333;
$font-color-light: #fff;
$font-input-color: #8c8c8c;
$color-link: #333;


$spacing: 30px;
$spacing-big: 60px;
$spacing-small: 15px;


// Typography
// -------------------------

$base-fontsize: 13px;
$base-fontfamily: $font-stack;
$base-lineheight: 20px;

$padding-large: 11px 19px; // 44px
$padding-small: 2px 10px;  // 26px
$padding-mini: 0 6px;   // 22px

$base-border-radius: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$zindex: (
  default:  0,
  modal-overlay:  350,
  modal: 400,
  tip: 10
);


$border-radius: (
  none: 0,
  s:  5px,
  m: 20px,
  full: 50%,
  bot:  4px 20px 20px,
  user: 20px 4px 20px 20px
);

$shadows: (
  xs: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  s: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  m: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  l: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  xl: -1px 2px 7px 0 rgba(0, 0, 0, .2)
)
